<%- include('./partials/header.ejs') %>

        <div class="content-container">
            <h2>About Us</h2>
            <p>NC Crabs is dedicated to providing a forum to discuss crab related events!</p>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>
