<%- include('./partials/header.ejs') %>

        <div class="content-container">
            <h2>Contact</h2>
            <p>Email: <a href="mailto: zellixso@uncc.edu">zellixso@uncc.edu</a></p>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>
