<%- include('./partials/header.ejs') %>

        <div class="content-container">
            <h2><%= error.status %> Error</h2>
            <p><%= error.message %></p>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>
