<%- include('./partials/header.ejs') %>

        <div class="content-container">
            <h2>Welcome to NCCrab events</h2>
            <p>
                Connect with other individuals on everything crab. Discuss fishing techniques, cooking
                recipes, and more!
            </p>
            <p>Check out the Events page to view upcoming events within the community.</p>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>
